.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 12px 24px 24px;
  overflow: auto;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transition: opacity 600ms;
  width: 400px;
}

.modal-header {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 24px;
}

.modal-actions {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-top: 24px;
}
